/RoomBookingEAR/.settings/org.eclipse.wst.common.project.facet.core.xml
/RoomBookingEJB/.classpath
/RoomBookingEJB/.classpath
/RoomBookingWeb/.classpath
/RoomBookingWeb/.settings/org.eclipse.wst.common.project.facet.core.xml
